<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bodybuild fitness</title>
        <link rel="stylesheet" href="/css/genericStyles.css">
    </head>
    <body>
        <div class="header">
            <div class="icon_header">
                <img src="/images/icon_img.svg">
                <div>Bodybuild fitness</div>
            </div>
            <div class="options_header">
                <a href="/">home</a>
                <a href="/membresias">Memberships</a>
                <a href="/comentarios">review</a>
                <a href="/login">Login</a>
            </div>
        </div>
    </body>
</html>