<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="header">
            <div class="icon_header">
                <img src="/images/icon_img.svg">
                <div>Bodybuild fitness</div>
            </div>
            <div class="options_header">
                <a href="/">home</a>
                <a href="/memberships">Memberships</a>
                <a href="/review">review</a>
                {{^user}}
                <a href="/login">Login</a>
                {{/user}}

                {{#user}}
                <a href="/home">Welcome, {{userName}} </a>
                {{/user}}
                
            </div>
        </div>
    </body>
</html>