<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bodybuild fitness</title>
        <link rel="stylesheet" href="/css/genericStyles.css">
        <link rel="stylesheet" href="/css/panelForm.css">
        <script src="/js/HomeUserBotoms.js"></script>
    </head>
    <body>
        {{>header}}
        <div class="panel">
            <h2>Home user</h2>
            <h3>user information</h3>
            <ul>
                {{#user}}
                <li>User Name: {{userName}}</li>
                <li>First Name: {{firstName}} <button type="button">Change</button></li>
                <li>Sure Name: {{sureName}} <button type="button">Change</button></li>
                <li>telephone: {{telephone}} <button type="button">Change</button></li>
                <li>mail: {{mail}} <button type="button">Change</button></li>
                <li>address: {{address}} <button type="button">Change</button></li>
                {{/user}}
            </ul>
            <p><button type="button" onclick="chargePassword()">Change password</button></p>
            {{#password}}
            <p style="color: greenyellow;">{{message}}</p>
            {{/password}}
            <p><button type="button" onclick="logout()">Logout</button></p>
            <h3>Gim Class</h3>
            {{#classGim}}
            <ul>
                <li>Name: {{name}}</li>
                <li>Description: {{descrip}}</li>
                <li>Date: {{time}}</li>
                <li>Time: {{duration}}</li>
            </ul>
            <p><button type="button" onclick="alert('user successfully registered')">Register</button></p>
            {{/classGim}}
        </div>
        {{>footer}}
    </body>
</html>