<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bodybuild fitness</title>
        <link rel="stylesheet" href="/css/genericStyles.css">
        <link rel="stylesheet" href="/css/homeStyles.css">
    </head>
    <body>
        {{>header}}
        <div class="carrousel">
            <div class="cont_carrousel">
                <div>Get the right gym for your home</div>
                <a href="/register" class="boton_black">init now</a>
            </div>
            <div class="img_carrousel"></div>
        </div>
        {{>footer}}
    </body>
</html>