<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memberships</title>
    <link rel="stylesheet" href="/css/genericStyles.css">
    <link rel="stylesheet" href="/css/panelForm.css">
    <script src="/js/SuscribeBotom.js"></script>
</head>
<body>
{{>header}}
    <h2>Choose your plan</h2>

    <div class="panel">
        <ul>
            <li>
                <h3>Monthly</h3>
                <p class="Prize">29,99€</p>
                <p>Unlimited access to the gym during one month.</p>
                <p><button type="button" onclick="payment()">Suscribe</button></p>
            </li>
            <li>
                <h3>Quarterly</h3>
                <p class="Prize">79,99€</p>
                <p>Unlimited access to the gym during three months.</p>
                <p><button type="button" onclick="payment()">Suscribe</button></p>
            </li>
            <li>
                <h3>Annual</h3>
                <p class="Prize">249,99€</p>
                <p>Unlimited access to the gym during one year.</p>
                <p><button type="button" onclick="payment()">Suscribe</button></p>
            </li>
        </ul>
    </div>
{{>footer}}
</body>
</html>
