<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memberships</title>
    <link rel="stylesheet" href="/css/genericStyles.css">
    <link rel="stylesheet" href="/css/panelForm.css">
    <script src="/js/SuscribeBotom.js"></script>
</head>
<body>
{{>header}}
    <div class="panel">
        <h2>Choose your plan</h2>
        {{#membershipPlans}}
        <ul>
            <li>Name: {{name}}</li>
            <li>Prize: {{pay}}&euro;</li>
            <li><p>Unlimited access to the gym during three months.</p></li>
        </ul>
        <p><button type="button" onclick="subscribe('{{id}}')">Suscribe</button></p>
        {{/membershipPlans}}
    </div>
{{>footer}}
</body>
</html>
