<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New Password</title>
        <link rel="stylesheet" href="/css/genericStyles.css">
        <link rel="stylesheet" href="/css/panelForm.css">
    </head>
    <body>
        {{>header}}
        <form action="/user/newpassword" method="POST" class="panel">
            <h2>New Password</h2>
            <div class="panel-group">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="panel-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="panel-group">
                <input type="submit" class="boton_black" value="confirm">
            </div>
        </form>
        {{>footer}}
    </body>
</html>