<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edit Class</title>
        <link rel="stylesheet" href="/css/genericStyles.css">
        <link rel="stylesheet" href="/css/panelForm.css">
    </head>
    <body>
        {{>header}}
        {{#GymClass}}
        <form action="/gymclass/{{id}}/edit" method="POST" class="panel">           
            <h2>Gym Class</h2>
            <div class="panel-group">
                <label for="name">Class Name</label>
                <input type="text" id="name" name="name" value="{{name}}" required>
            </div>
            <div class="panel-group">
                <label for="descrip">Description</label>
                <textarea id="descript" name="descript" rows="10" cols="100" required>{{descript}}</textarea>
            </div>
            <div class="panel-group">
                <label for="time">Scheduled Date</label>
                <input type="date" id="time" name="time" value="{{time}}" required>
            </div>
            <div class="panel-group">
                <label for="duration">Duration (HH:mm:ss)</label>
                <input type="text" id="duration" name="duration" value="{{duration}}" placeholder="e.g., 01:30:00" required>
            </div>
            <div class="panel-group">
                <input type="submit" class="boton_black" value="Edit">
            </div>
        </form>   
        {{/GymClass}}     
        {{>footer}}
    </body>
</html>